<div id="all-related-notes">

  <header class="main-header">

    <h1>All Related Notes</h1>

    <a class="new-note-icon" href="/folders/<%= @folder_uuid %>/notes/new"></a>

  </header>

  <section class="main-body">

    <% if @notes.empty? %>

    <ul>

      <li>

        <article>

          <section>

            <div class="welcome-new-note">

              <h1>There are no related notes!</h1>

              <p>
                To start adding notes, simply click the <strong>'Add New Note'</strong> icon
                <img class="inline-icon" src="/images/icon_new_note.png" alt="New note">
                above. As you add notes, they will appear here, ordered from newest to oldest.
              </p>

            </div>

          </section>

        </article>

      </li>

    </ul>

    <% else %>

      <ul>

        <% @notes.each do |note| %>

          <li>

            <article>

              <header>

                <div class="timestamp">

                  <small>Created on:</small>

                  <time datetime="2001-05-15T19:00"><%= format_date(note[:note_date_time]) %></time>

                </div>

                <h1>
                  <a href="/folders/<%= note[:folder_uuid] %>/notes/<%= note[:note_uuid] %>/edit#active-note"><%= note[:note_title] %></a>
                </h1>

                <h3><%= note[:folder_name] %></h3>

              </header>

              <section>

                <p>
                  <pre class="display-note-body"><%= note[:note_body] %></pre>
                </p>

              </section>

            </article>

          </li>

        <% end %>

      </ul>

    <% end %>

</div>
