<div id="all-related-notes">

  <header class="primary-header">

    <h3>All Related Notes</h3>

    <a class="btn" href="/folders/<%= @folder_id %>/notes/new">ADD NEW NOTE</a>

  </header>

  <main>

    <section class="primary-body">

      <% if @notes.empty? %>

      <article>

        <header>
          <a href="#">
            <h3>Welcome!</h3>
          </a>
        </header>

        <section class="note">

          <p>
            To start adding notes to your folder, simply click or tap the
            'ADD NEW NOTE' button above. As you add new notes to your folder,
            they will appear here. Your latest notes will be at the top.
          </p>

          <p>
            Happy writing!
          </p>

        </section>

      </article>

      <% else %>

        <% @notes.each do |note| %>

          <article>

            <header>
              <time datetime="2001-05-15T19:00"><%= format_date(note[:note_date_time]) %></time>
              <h3>
                <a href="/folders/<%= note[:folder_id] %>/notes/<%= note[:note_id] %>/edit#active-note"><%= note[:note_title] %></a>
              </h3>
              <h5><%= note[:folder_name] %></h5>
            </header>

            <section class="note">

              <p>
                <%= new_line_to_br(note[:note_body]) %>
              </p>

            </section>

          </article>

        <% end %>

      <% end %>

  </main>

</div>
