<div id="edit-note">

  <header class="primary-header">

    <h3>Edit Note</h3>

    <a class="btn" href="#">VIEW ALL RELATED NOTES</a>

  </header>

  <header class="user-settings">
    <a href="#">Jason</a>
  </header>

  <main>

    <aside class="folder-menu">

      <a class="logo" href="/">
        <img src="/images/logo.png" alt="logo">
      </a>

      <header>

        <h1><%== @folder_name %></h1>

        <h2>#<%== @folder_type.upcase %></h2>

      </header>

      <section class="folder-attributes">

        <dl>
          <% @folder_attributes.each do |attribute| %>
            <% unless attribute[:name].empty? || attribute[:value].empty? %>
              <dt><%== attribute[:name] %>:</dt>
              <dd><%== attribute[:value] %></dd>
            <% end %>
          <% end %>
        </dl>

      </section>

      <section class="folder-actions">

        <ul>
          <li>
            <a href="/folders/<%== @folder_id %>/edit">&gt; EDIT FOLDER</a>
          </li>
          <li>
            <a href="#">&gt; ADD REMINDER</a>
          </li>
          <li>
            <a href="#">&gt; CREATE RELATED FOLDER</a>
          </li>
          <li>
            <a href="/folders/new">&gt; CREATE NEW FOLDER</a>
          </li>
          <li>
            <a href="#">&gt; DELETE FOLDER</a>
          </li>
        </ul>

      </section>

      <form class="find" action="#" method="post">
        <label>
          <input type="text" name="query" placeholder="Find folder...">
        </label>
        <input type="submit" value="">
      </form>

    </aside>

    <section class="primary-body">

      <% @notes.each do |note| %>

        <% if note[:note_id].to_i == @note_id %>

          <article id="active-note">

            <header>
              <h3><%== note[:note_title] %></h3>
            </header>

            <form action="/folders/<%== @folder_id %>/notes/<%== @note_id %>/edit" method="post">

              <fieldset>

                <dl>

                  <div class="form-row">
                    <dt>
                      <label for="title">Note title:</label>
                    </dt>
                    <dd>
                      <input type="text" name="title" id="title" value="<%== note[:note_title] %>">
                    </dd>
                  </div>

                  <div class="form-row">
                    <dt>
                      <label for="body">Details:</label>
                    </dt>
                    <dd>
                      <textarea name="body" id="body" rows="8" cols="80"><%== note[:note_body] %></textarea>
                    </dd>
                  </div>

                </dl>

              </fieldset>

              <input class="btn form-submit" type="submit" value="Update Note">

            </form>

          </article>

        <% else %>

          <article>

            <header>
              <a href="/folders/<%== @folder_id %>/notes/<%== note[:note_id] %>/edit#active-note">
                <h3><%== note[:note_title] %></h3>
              </a>
              <time datetime="2001-05-15T19:00"><%== note[:note_date_time] %></time>
            </header>

            <section class="note">

              <p>
                <%== new_line_to_br(note[:note_body]) %>
              </p>

            </section>

          </article>

        <% end %>

      <% end %>

      <aside class="related-folders">

        <section>

          <ul>

            <% if @parent_folder %>

              <li class="summary">
                <a href="/folders/<%== @parent_folder['id'] %>">
                  <ul>
                    <li><%== @parent_folder['name'] %></li>
                    <li>#<%== @parent_folder['type'] %></li>
                  </ul>
                </a>
              </li>

            <% end %>

            <% @related_folders.each do |folder| %>

              <li class="summary">
                <a href="/folders/<%== folder[:folder_id] %>">
                  <ul>
                    <li><%== folder[:folder_name] %></li>
                    <li>#<%== folder[:folder_type] %></li>
                  </ul>
                </a>
              </li>

            <% end %>

          </ul>

        </section>

      </aside>

  </main>

</div>
