<main>

  <div id="edit-folder" class="folder-form">

    <header class="main-header">

      <h1>Edit Folder / <%= @folder_name %></h1>

    </header>

    <aside class="folder-menu">

      <header>

        <a class="logo" href="/">
          <img src="/images/logo.png" alt="logo">
        </a>

      </header>

      <section>

        <h2>Tips:</h2>

        <p>
          Folder tags can help you quickly identify what kind of folder this
          is. Also very useful for when filtering search results. Separate
          multiple tags with a space.
        </p>

        <p>
          Attributes are key traits like a person's title and contact
          information.
        </p>

      </section>

      <form class="find" action="/folders/find_folder" method="get">

        <small>Search or hit 'enter' for all folders</small>

        <label>
          <input type="text" name="query" placeholder="Find folder...">
        </label>

        <input type="hidden" name="filter_by_tags" value="all_tags">
        <input type="hidden" name="sort" value="no_sort">
        <input type="submit" value="">

      </form>

    </aside>

    <section class="main-body">

      <form action="/folders/<%= @folder_id %>/edit" method="post">

        <fieldset>

          <dl>

            <div class="form-row">
              <dt>
                <label for="name">What should this folder be called?</label>
              </dt>
              <dd>
                <input type="text" name="name" id="name" value="<%= @folder_name %>">
              </dd>
            </div>

            <div class="form-row">
              <dt>
                <label for="tags">Tags:</label>
              </dt>
              <dd>
                <input type="text" name="tags" id="tags" value="<%= @folder_tags_string %>">
              </dd>
            </div>

            <div class="form-row">

              <div class="col-1">
                <dt>
                  <label for="attr1">Attribute 1</label>
                </dt>
                <dd>
                  <input type="text" name="attr1" id="attr1" value="<%= @folder_attributes[0][:name] %>">
                </dd>
              </div><!--

              --><div class="col-2">
                <dt>
                  <label for="value1"></label>
                </dt>
                <dd>
                  <input type="text" name="value1" id="value1" value="<%= @folder_attributes[0][:value] %>">
                </dd>
              </div>

            </div>

            <div class="form-row">

              <div class="col-1">
                <dt>
                  <label for="attr2">Attribute 2</label>
                </dt>
                <dd>
                  <input type="text" name="attr2" id="attr2" value="<%= @folder_attributes[1][:name] %>">
                </dd>
              </div><!--

              --><div class="col-2">
                <dt>
                  <label for="value2"></label>
                </dt>
                <dd>
                  <input type="text" name="value2" id="value2" value="<%= @folder_attributes[1][:value] %>">
                </dd>
              </div>

            </div>

            <div class="form-row">

              <div class="col-1">
                <dt>
                  <label for="attr3">Attribute 3</label>
                </dt>
                <dd>
                  <input type="text" name="attr3" id="attr3" value="<%= @folder_attributes[2][:name] %>">
                </dd>
              </div><!--

              --><div class="col-2">
                <dt>
                  <label for="value3"></label>
                </dt>
                <dd>
                  <input type="text" name="value3" id="value3" value="<%= @folder_attributes[2][:value] %>">
                </dd>
              </div>

            </div>

          </dl>

        </fieldset>

        <input class="btn form-submit" type="submit" value="Save Changes">

      </form>

      <form action="/folders/<%= @folder_id %>/delete" method="post">

        <input class="btn btn-delete delete-folder" type="submit" value="Delete Folder">

      </form>

      <a class="btn link-folder" href="/folders/<%= @folder_id %>/link">Link Folder</a>

    </section>

  </div>

</main>
