<div id="find-folder">

  <header class="primary-header">

    <% if @query.empty? %>

      <h3>Listing All Folders</h3>

    <% else %>

      <h3>Searching for '<%= @query %>'</h3>

    <% end %>

  </header>

  <header class="user-settings">
    <a href="#">Jason</a>
  </header>

  <main>

    <aside class="folder-menu">

      <a class="logo" href="/">
        <img src="/images/logo.png" alt="logo">
      </a>

      <header>

        <h2>Filter & Sort Options:</h2>

      </header>

      <form class="find-folder-filters" action="/folders/find_folder" method="get">
        <dl>

          <dt>
            <label for="filter_by_tag">Filter by Folder Tag:</label>
          </dt>
          <dd>
            <select name="filter_by_tag" id="filter_by_tag">
              <option value="all_tags">All tags</option>
              <% @folder_tags.each do |tag| %>
                <option value="<%= tag %>" <%== "selected" if params[:filter_by_tag] == tag %>><%= tag.capitalize %></option>
              <% end %>
            </select>
          </dd>

          <dt>
            <label for="sort">Sort by:</label>
          </dt>
          <dd>
            <select name="sort" id="sort">
              <option value="no_sort">No sort</option>
              <option value="recently_created_first" <%== "selected" if params[:sort] == "recently_created_first" %>>Recently Created First</option>
              <option value="recently_created_last" <%== "selected" if params[:sort] == "recently_created_last" %>>Recently Created Last</option>
            </select>
          </dd>

          <input type="hidden" name="query" value="<%= @query %>">

        </dl>

        <input type="submit" value="Apply Filters">
      </form>

    </aside>

    <section class="primary-body">

      <header>

        <form class="find" action="/folders/find_folder" method="get">
          <label>
            <input type="text" name="query" placeholder="Find folder...">
          </label>
          <input type="hidden" name="filter_by_tag" value="all_tags">
          <input type="hidden" name="sort" value="no_sort">
          <input type="submit" value="">
        </form>

      </header>

      <ul>

        <% @folders.each do |folder| %>

          <li class="summary">
            <a href="/folders/<%= folder[:folder_id] %>">
              <ul>
                <li><%= folder[:folder_name] %></li>
                <li><%= format_folder_tags_as_string(folder[:folder_tags]) %></li>
              </ul>
            </a>
          </li>

        <% end %>

      </ul>

    </section>

  </main>

</div>
