<main>

  <div id="find-folder" class="find-link">

    <header class="main-header">

      <% if @query.empty? %>

        <h1>Listing All Folders</h1>

      <% else %>

        <h1>Searching for '<%= @query %>'</h1>

      <% end %>

    </header>

    <aside class="folder-menu">

      <header>

        <a class="logo" href="/">
          <img src="/images/logo.png" alt="logo">
        </a>

        <a class="btn folder-action" href="/folders/new">New Folder</a>

      </header>

      <%== erb :_filter_sort_widget %>

    </aside>

    <section class="main-body">

      <form class="find" action="/folders/find_folder" method="get">

        <label>
          <input type="text" name="query" placeholder="Find folder...">
        </label>

        <input type="submit" value="">

      </form>

      <ul class="results-list">

        <% if @folders.empty? %>

          <h3>Alas, no results...</h3>

        <% else %>

          <% @folders.each do |folder| %>

            <li>

            <div class="folder-summary">

              <a href="/folders/<%= folder[:folder_id] %>">

                <h3><%= folder[:folder_name] %></h3>

                <ul>
                  <li><%= format_folder_tags_as_string(folder[:folder_tags]) %></li>
                </ul>

              </a>

            </div>

          </li>

          <% end %>

        <% end %>

      </ul>

    </section>

  </div>

</main>
