<main>

  <div id="find-folder" class="find-link">

    <header class="main-header">

      <% if @query.empty? %>

        <h1>Listing All Folders</h1>

      <% else %>

        <h1>Searching for '<%= @query %>'</h1>

      <% end %>

    </header>

    <aside class="folder-menu">

      <header>

        <a class="logo" href="/">
          <img src="/images/logo.png" alt="logo">
        </a>

        <a class="btn folder-action" href="/folders/new">New Folder</a>

      </header>

      <section class="filter-sort">

        <h2>Filter & Sort Options:</h2>

        <form action="/folders/find_folder" method="get">

          <dl>

            <dt>
              <label for="filter_by_tag">Filter by Folder Tag:</label>
            </dt>
            <dd>
              <select name="filter_by_tag" id="filter_by_tag">
                <option value="all_tags">All tags</option>
                <% @folder_tags.each do |tag| %>
                  <option value="<%= tag %>" <%== "selected" if params[:filter_by_tag] == tag %>><%= tag.capitalize %></option>
                <% end %>
              </select>
            </dd>

            <dt>
              <label for="sort">Sort by:</label>
            </dt>
            <dd>
              <select name="sort" id="sort">
                <option value="no_sort">No sort</option>
                <option value="recently_created_first" <%== "selected" if params[:sort] == "recently_created_first" %>>Recently Created First</option>
                <option value="recently_created_last" <%== "selected" if params[:sort] == "recently_created_last" %>>Recently Created Last</option>
              </select>
            </dd>

            <input type="hidden" name="query" value="<%= @query %>">

          </dl>

          <input class="btn" type="submit" value="Apply Filters">

        </form>

      </section>

    </aside>

    <section class="main-body">

      <form class="find" action="/folders/find_folder" method="get">

        <label>
          <input type="text" name="query" placeholder="Find folder...">
        </label>

        <input type="hidden" name="filter_by_tag" value="all_tags">
        <input type="hidden" name="sort" value="no_sort">
        <input type="submit" value="">

      </form>

      <ul class="results-list">

        <% @folders.each do |folder| %>

          <li>

            <div class="folder-summary">

              <a href="/folders/<%= folder[:folder_id] %>">

                <h3><%= folder[:folder_name] %></h3>

                <ul>
                  <li><%= format_folder_tags_as_string(folder[:folder_tags]) %></li>
                </ul>

              </a>

            </div>

          </li>

        <% end %>

      </ul>

    </section>

  </div>

</main>
