<div id="main-page">

  <header class="primary-header">

    <a class="btn" href="/folders/<%== @folder_id %>/notes/new">ADD NEW NOTE</a><!--
    --><a class="btn" href="#">VIEW ALL RELATED NOTES</a>

  </header>

  <header class="user-settings">
    <a href="#">Jason</a>
  </header>

  <main>

    <aside class="folder-menu">

      <a href="/">
        <img class="logo" src="/images/logo.png" alt="logo">
      </a>

      <header>

        <h1><%== @folder_name %></h1>

        <h2>#<%== @folder_type.upcase %></h2>

      </header>

      <section class="folder-attributes">

        <dl>
          <% @folder_attributes.each do |attribute| %>
            <% unless attribute[:name].empty? || attribute[:value].empty? %>
              <dt><%== attribute[:name] %>:</dt>
              <dd><%== attribute[:value] %></dd>
            <% end %>
          <% end %>
        </dl>

      </section>

      <section class="folder-actions">

        <ul>
          <li>
            <a href="/folders/<%== @folder_id %>/edit">&gt; EDIT FOLDER</a>
          </li>
          <li>
            <a href="#">&gt; ADD REMINDER</a>
          </li>
          <li>
            <a href="#">&gt; CREATE RELATED FOLDER</a>
          </li>
          <li>
            <a href="/folders/new">&gt; CREATE NEW FOLDER</a>
          </li>
          <li>
            <a href="#">&gt; DELETE FOLDER</a>
          </li>
        </ul>

      </section>

      <form class="find" action="#" method="post">
        <label>
          <input type="text" name="query" placeholder="Find folder...">
        </label>
        <input type="submit" value="">
      </form>

    </aside>

    <section class="primary-body">

      <% if @notes.empty? %>

      <article>

        <header>
          <a href="#">
            <h3>Welcome!</h3>
          </a>
        </header>

        <section class="note">

          <p>
            To start adding notes to your folder, simply click or tap the
            'ADD NEW NOTE' button above. As you add new notes to your folder,
            they will appear here. Your latest notes will be at the top.
          </p>

          <p>
            Happy writing!
          </p>

        </section>

      </article>

      <% else %>

        <% @notes.each do |note| %>

          <article>

            <header>
              <a href="#">
                <h3><%== note[:note_title] %></h3>
              </a>
              <time datetime="2001-05-15T19:00"><%== note[:note_date_time] %></time>
            </header>

            <section class="note">

              <p>
                <%== note[:note_body] %>
              </p>

            </section>

          </article>

        <% end %>

      <% end %>

    <aside class="related-folders">

      <section>

        <ul>

          <li class="summary">
            <a href="#">
              <ul>
                <li>Jason Slusarchuk</li>
                <li>#PERSON</li>
                <li>Role: VP Product</li>
                <li>Email: jason@gmail.com</li>
                <li>Tel: (555) 555-5555</li>
              </ul>
            </a>
          </li>

          <li class="summary">
            <ul>
              <li>Jason Slusarchuk</li>
              <li>#PERSON</li>
              <li>Role: VP Product</li>
              <li>Email: jason@gmail.com</li>
              <li>Tel: (555) 555-5555</li>
            </ul>
          </li>

          <li class="summary">
            <ul>
              <li>Jason Slusarchuk</li>
              <li>#PERSON</li>
              <li>Role: VP Product</li>
              <li>Email: jason@gmail.com</li>
              <li>Tel: (555) 555-5555</li>
            </ul>
          </li>

          <li class="summary">
            <ul>
              <li>Jason Slusarchuk</li>
              <li>#PERSON</li>
              <li>Role: VP Product</li>
              <li>Email: jason@gmail.com</li>
              <li>Tel: (555) 555-5555</li>
            </ul>
          </li>

          <li class="summary">
            <ul>
              <li>Jason Slusarchuk</li>
              <li>#PERSON</li>
              <li>Role: VP Product</li>
              <li>Email: jason@gmail.com</li>
              <li>Tel: (555) 555-5555</li>
            </ul>
          </li>

          <li class="summary">
            <ul>
              <li>Jason Slusarchuk</li>
              <li>#PERSON</li>
              <li>Role: VP Product</li>
              <li>Email: jason@gmail.com</li>
              <li>Tel: (555) 555-5555</li>
            </ul>
          </li>

          <li class="summary">
            <ul>
              <li>Jason Slusarchuk</li>
              <li>#PERSON</li>
              <li>Role: VP Product</li>
              <li>Email: jason@gmail.com</li>
              <li>Tel: (555) 555-5555</li>
            </ul>
          </li>

          <li class="summary">
            <ul>
              <li>Jason Slusarchuk</li>
              <li>#PERSON</li>
              <li>Role: VP Product</li>
              <li>Email: jason@gmail.com</li>
              <li>Tel: (555) 555-5555</li>
            </ul>
          </li>

        </ul>

      </section>

    </aside>

  </main>

</div>
