<div id="main-page">

  <header class="main-header">

    <a class="new-note-icon" href="/folders/<%= @folder_uuid %>/notes/new"></a><!--
    --><a class="all-related-notes-icon" href="/folders/<%= @folder_uuid %>/all_related_notes"></a>

  </header>

  <section class="main-body">

    <% if @notes.empty? %>

      <ul>

        <li>

          <article>

            <section>

              <div class="welcome-new-note">

                <h1>Welcome to your new folder!</h1>

                <p>
                  To start adding notes, simply click the new note icon
                  above. As you add notes, they will appear here, ordered from newest to oldest.
                </p>

              </div>

            </section>

          </article>

        </li>

      </ul>

    <% else %>

      <ul>

        <% @notes.each do |note| %>

          <li>

            <article>

              <header>

                <time datetime="2001-05-15T19:00"><%= format_date(note[:note_date_time]) %></time>

                <h1>
                  <a href="/folders/<%= @folder_uuid %>/notes/<%= note[:note_uuid] %>/edit#active-note"><%= note[:note_title] %></a>
                </h1>

              </header>

              <section>

                <p>
                  <pre class="display-note-body"><%= note[:note_body] %></pre>
                </p>

              </section>

            </article>

          </li>

        <% end %>

      <% end %>

    </ul>

  </section>

</div>
