<div id="main-page">

  <header class="main-header">

    <a class="btn btn-left" href="/folders/<%= @folder_id %>/notes/new">New Note</a><!--
    --><a class="btn btn-right" href="/folders/<%= @folder_id %>/all_related_notes">View All Related Notes</a>

  </header>

  <section class="main-body">

    <% if @notes.empty? %>

      <ul>

        <li>

          <article>

            <section>

              <!-- <img class="welcome-new-note" src="/images/img_new_note_alt.png" alt="Create new note"> -->

              <div class="welcome-new-note">

                <h1>Welcome to your new folder!</h1>

                <p>
                  To start adding notes, simply click the <strong>'NEW NOTE'</strong> button
                  above. As you add notes, they will appear here, listed newest to oldest.
                </p>

              </div>

            </section>

          </article>

        </li>

      </ul>

    <% else %>

      <ul>

        <% @notes.each do |note| %>

          <li>

            <article>

              <header>

                <time datetime="2001-05-15T19:00"><%= format_date(note[:note_date_time]) %></time>

                <h1>
                  <a href="/folders/<%= @folder_id %>/notes/<%= note[:note_id] %>/edit#active-note"><%= note[:note_title] %></a>
                </h1>

              </header>

              <section>

                <p>
                  <pre class="display-note-body"><%= note[:note_body] %></pre>
                </p>

              </section>

            </article>

          </li>

        <% end %>

      <% end %>

    </ul>

  </section>

</div>
