<div id="main-page">

  <header class="main-header">

    <a class="btn" href="/folders/<%= @folder_id %>/notes/new">ADD NEW NOTE</a><!--
    --><a class="btn" href="/folders/<%= @folder_id %>/all_related_notes">VIEW ALL RELATED NOTES</a>

  </header>

  <section class="main-body">

    <% if @notes.empty? %>

      <ul>

        <li>

          <article>

            <header>

              <a href="#"><h1>Welcome!</h1></a>

            </header>

            <section>

              <p>
                To start adding notes to your folder, simply click or tap the
                'ADD NEW NOTE' button above. As you add new notes to your folder,
                they will appear here. Your latest notes will be at the top.
              </p>

              <p>
                Happy writing!
              </p>

            </section>

          </article>

        </li>

      </ul>

    <% else %>

      <ul>

        <% @notes.each do |note| %>

          <li>

            <article>

              <header>

                <time datetime="2001-05-15T19:00"><%= format_date(note[:note_date_time]) %></time>

                <h1>
                  <a href="/folders/<%= @folder_id %>/notes/<%= note[:note_id] %>/edit#active-note"><%= note[:note_title] %></a>
                </h1>

              </header>

              <section>

                <p>
                  <pre class="display-note-body"><%= note[:note_body] %></pre>
                </p>

              </section>

            </article>

          </li>

        <% end %>

      <% end %>

    </ul>

  </section>

</div>
