<!doctype html>

<html lang="en-US">

  <head>
    <meta charset="utf-8">
    <title>r.note</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <script src="/javascripts/jquery-3.2.1.js"></script>
    <script src="/javascripts/application.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <%== erb :_flash_messages %>

    <header class="user-settings">

      <%== erb :_user_settings_widget %>

    </header>

    <aside class="folder-menu">

      <header>

        <a class="logo" href="/">r.note</a>

        <a class="new-folder-icon" href="/folders/new?parent_uuid=<%= @folder_uuid %>&parent_name=<%= @folder_name %>"></a>

      </header>

      <section class="folder-title">

        <a href="/folders/<%= @folder_uuid %>">

          <h1><%= @folder_name %></h1>

          <% @folder_tags.each do |tag| %>
            <h2>#<%= tag.upcase %></h2>
          <% end %>

        </a>

        <a class="edit-folder-icon" href="/folders/<%= @folder_uuid %>/edit"></a>

      </section>

      <section class="folder-attributes">

        <dl>
          <% @folder_attributes.each do |attribute| %>
            <% unless attribute[:name].empty? || attribute[:value].empty? %>
              <dt><h4><%= attribute[:name] %>:</h4></dt>
              <dd><%= attribute[:value] %></dd>
            <% end %>
          <% end %>
        </dl>

      </section>

      <%== erb :_find_folder_widget %>

    </aside>

    <main>

      <%== yield %>

    </main>

    <aside class="related-folders">

      <% if @related_folders.empty? %>

        <!-- <ul>

          <li>

            <div class="folder-summary">

              <h3>No related folders</h3>

            </div>

          </li>

        </ul> -->

      <% else %>

        <ul>

          <% @related_folders.each do |folder| %>

            <li>

              <div class="folder-summary">

                <a href="/folders/<%= folder[:folder_uuid] %>">

                  <h3><%= folder[:folder_name] %></h3>

                  <ul>

                    <% format_folder_tags_as_array(folder[:folder_tags]).each do |tag| %>

                      <li><%= tag %></li>

                    <% end %>

                  </ul>

                </a>

              </div>

            </li>

          <% end %>

        </ul>

      <% end %>

    </aside>

  </body>

</html>
