<!doctype html>

<html lang="en-US">

<head>
  <meta charset="utf-8">
  <title>r.note</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

  <body>

    <header class="user-settings">
      <a href="#">Jason</a>
    </header>

    <aside class="folder-menu">

      <a class="logo" href="/">
        <img src="/images/logo.png" alt="logo">
      </a>

      <header>

        <a href="/folders/<%= @folder_id %>">

          <h1><%= @folder_name %></h1>

          <% @folder_tags.each do |tag| %>
            <h2>#<%= tag.upcase %></h2>
          <% end %>

        </a>

      </header>

      <section class="folder-attributes">

        <dl>
          <% @folder_attributes.each do |attribute| %>
            <% unless attribute[:name].empty? || attribute[:value].empty? %>
              <dt><%= attribute[:name] %>:</dt>
              <dd><%= attribute[:value] %></dd>
            <% end %>
          <% end %>
        </dl>

      </section>

      <section class="folder-actions">

        <ul>
          <li>
            <a href="/folders/<%= @folder_id %>/edit">EDIT FOLDER</a>
          </li>
          <li>
            <a href="/folders/new?parent_id=<%= @folder_id %>&parent_name=<%= @folder_name %>">CREATE NEW FOLDER</a>
          </li>
          <li>
            <a href="#">DELETE FOLDER</a>
          </li>
        </ul>

      </section>

      <form class="find" action="/folders/find_folder" method="get">
        <small>Search or hit 'enter' for all folders</small>
        <label>
          <input type="text" name="query" placeholder="Find folder...">
        </label>
        <input type="hidden" name="filter_by_tag" value="all_tags">
        <input type="hidden" name="sort" value="no_sort">
        <input type="submit" value="">
      </form>

    </aside>

    <%== yield %>

    <aside class="related-folders">

      <section>

        <ul>

          <% if @parent_folder %>

            <li class="summary">
              <a href="/folders/<%= @parent_folder['id'] %>">
                <ul>
                  <li><%= @parent_folder['name'] %></li>
                  <% format_folder_tags_as_array(@parent_folder['tags']).each do |tag| %>
                    <li><%= tag.upcase %></li>
                  <% end %>
                </ul>
              </a>
            </li>

          <% end %>

          <% @related_folders.each do |folder| %>

            <li class="summary">
              <a href="/folders/<%= folder[:folder_id] %>">
                <ul>
                  <li><%= folder[:folder_name] %></li>
                  <% format_folder_tags_as_array(folder[:folder_tags]).each do |tag| %>
                    <li><%= tag.upcase %></li>
                  <% end %>
                </ul>
              </a>
            </li>

          <% end %>

        </ul>

      </section>

    </aside>

  </body>

</html>
