<!doctype html>

<html lang="en-US">

  <head>
    <meta charset="utf-8">
    <title>r.note</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <header class="user-settings">
      <a href="#">Jason</a>
    </header>

    <aside class="folder-menu">

      <header>

        <a class="logo" href="/">
          <img src="/images/logo.png" alt="logo">
        </a>

        <a class="btn folder-action" href="/folders/<%= @folder_id %>/edit">Edit</a>

        <a class="btn folder-action" href="/folders/new?parent_id=<%= @folder_id %>&parent_name=<%= @folder_name %>">New</a>

      </header>

      <section class="folder-title">

        <a href="/folders/<%= @folder_id %>">

          <h1><%= @folder_name %></h1>

          <% @folder_tags.each do |tag| %>
            <h2>#<%= tag.upcase %></h2>
          <% end %>

        </a>

      </section>

      <section class="folder-attributes">

        <dl>
          <% @folder_attributes.each do |attribute| %>
            <% unless attribute[:name].empty? || attribute[:value].empty? %>
              <dt><h4><%= attribute[:name] %>:</h4></dt>
              <dd><%= attribute[:value] %></dd>
            <% end %>
          <% end %>
        </dl>

      </section>

      <form class="find" action="/folders/find_folder" method="get">

        <small>Search or hit 'enter' for all folders</small>

        <label>
          <input type="text" name="query" placeholder="Find folder...">
        </label>

        <input type="hidden" name="filter_by_tag" value="all_tags">
        <input type="hidden" name="sort" value="no_sort">
        <input type="submit" value="">

      </form>

    </aside>

    <main>

      <%== yield %>

    </main>

    <aside class="related-folders">

      <ul>

        <% @related_folders.each do |folder| %>

          <li>

            <div class="folder-summary">

              <a href="/folders/<%= folder[:folder_id] %>">

                <h3><%= folder[:folder_name] %></h3>

                <ul>

                  <% format_folder_tags_as_array(folder[:folder_tags]).each do |tag| %>

                    <li><%= tag %></li>

                  <% end %>

                </ul>

              </a>

            </div>

          </li>

        <% end %>

      </ul>

    </aside>

  </body>

</html>
