<main>

  <div id="link-folder">

    <header class="primary-header">

      <h3>Link '<%= @from_folder_name %>' to:</h3>

    </header>

    <aside class="folder-menu">

      <header>

        <a class="logo" href="/">
          <img src="/images/logo.png" alt="logo">
        </a>

      </header>

      <section class="filter-sort">

        <h2>Filter & Sort Options:</h2>

        <form class="find-folder-filters" action="/folders/<%= @from_folder_id %>/link" method="get">

          <dl>

            <dt>
              <label for="filter_by_tag">Filter by Folder Tag:</label>
            </dt>
            <dd>
              <select name="filter_by_tag" id="filter_by_tag">
                <option value="all_tags">All tags</option>
                <% @folder_tags.each do |tag| %>
                  <option value="<%= tag %>" <%== "selected" if params[:filter_by_tag] == tag %>><%= tag.capitalize %></option>
                <% end %>
              </select>
            </dd>

            <dt>
              <label for="sort">Sort by:</label>
            </dt>
            <dd>
              <select name="sort" id="sort">
                <option value="no_sort">No sort</option>
                <option value="recently_created_first" <%== "selected" if params[:sort] == "recently_created_first" %>>Recently Created First</option>
                <option value="recently_created_last" <%== "selected" if params[:sort] == "recently_created_last" %>>Recently Created Last</option>
              </select>
            </dd>

            <input type="hidden" name="query" value="<%= @query %>">

          </dl>

          <input type="submit" value="Apply Filters">

        </form>

      </section>

    </aside>

    <section class="primary-body">

      <header>

        <form class="find" action="/folders/<%= @from_folder_id %>/link" method="get">
          <label>
            <input type="text" name="query" placeholder="Find folder...">
          </label>
          <input type="hidden" name="filter_by_tag" value="all_tags">
          <input type="hidden" name="sort" value="no_sort">
          <input type="submit" value="">
        </form>

      </header>

      <% @folders.each do |folder| %>

        <label for="popout-<%= folder[:folder_id] %>">

            <ul>
              <li><%= folder[:folder_name] %></li>
              <li><%= format_folder_tags_as_string(folder[:folder_tags]) %></li>
            </ul>

          <input type="checkbox" name="popout" id="popout-<%= folder[:folder_id] %>">

          <div class="popout-confirm">

            <form class="popout-confirm" action="/folders/<%= @from_folder_id %>/link/<%= folder[:folder_id] %>" method="post">

              <h3>Confirm link?</h3>

              <a href="/folders/<%= @from_folder_id %>">
                <ul>
                  <li><%= @from_folder_name %></li>
                  <li><%= format_folder_tags_as_string(@from_folder_tags_string) %></li>
                </ul>
              </a>

              <img src="/images/icon_link.png" alt="Linked chains">

              <a href="/folders/<%= folder[:folder_id] %>">
                <ul>
                  <li><%= folder[:folder_name] %></li>
                  <li><%= format_folder_tags_as_string(folder[:folder_tags]) %></li>
                </ul>
              </a>

              <input class="btn form-submit confirm" type="submit" value="Link Folders">

              <a class="btn form-submit cancel">Cancel</a>

            </form>

          </div>

        </label>

      <% end %>

    </section>

  </div>

</main>
