<div id="create-new-note">

  <header class="main-header">

    <h3>Add New Note</h3>

    <a class="btn" href="/folders/<%= @folder_id %>/all_related_notes">VIEW ALL RELATED NOTES</a>

  </header>

  <section class="main-body">

    <form action="/folders/<%= @folder_id %>/notes/new" method="post">

      <fieldset>

        <dl>

          <div class="form-row">
            <dt>
              <label for="title">Note title:</label>
            </dt>
            <dd>
              <input type="text" name="title" id="title" placeholder="Follow-up">
            </dd>
          </div>

          <div class="form-row">
            <dt>
              <label for="body">Details:</label>
            </dt>
            <dd>
              <textarea name="body" id="body" rows="8" cols="80"></textarea>
            </dd>
          </div>

        </dl>

      </fieldset>

      <input class="btn form-submit" type="submit" value="Save New Note">

    </form>

    <% if !@notes.empty? %>

      <ul>

        <% @notes.each do |note| %>

          <li>

            <article>

              <header>

                <time datetime="2001-05-15T19:00"><%= format_date(note[:note_date_time]) %></time>

                <h3>
                  <a href="/folders/<%= @folder_id %>/notes/<%= note[:note_id] %>/edit#active-note"><%= note[:note_title] %></a>
                </h3>

              </header>

              <section>

                <p>
                  <pre><%= note[:note_body] %></pre>
                </p>

              </section>

            </article>

          </li>

        <% end %>

      </ul>

    <% end %>

  </section>

</div>
