<main>

  <div id="create-new-folder" class="folder-form">

    <header class="main-header">

      <h1>Create New Folder</h1>

    </header>

    <aside class="folder-menu">

      <header>

        <a class="logo" href="/">r.note</a>

      </header>

      <section>

        <h2>Tips:</h2>

        <p>
          Folder tags can help you quickly identify what kind of folder this
          is. Also very useful for when filtering search results.
        </p>

        <p>
          Separate multiple tags with a space. For example, 'Account Lead'
        </p>

        <p>
          Attributes are key traits like a person's title and contact
          information. They are optional.
        </p>

      </section>

      <%== erb :_find_folder_widget %>

    </aside>

    <section class="main-body">

      <form action="/folders/new" method="post">

        <fieldset>

          <dl>

            <div class="form-row">

              <dt>
                <label for="name">What should this folder be called?</label>
              </dt>

              <dd>
                <input type="text" name="name" id="name" placeholder="Person, Place or Thing" value="<%= params[:name] %>">
              </dd>

              <% if @errors %>

                <ul>
                  <% @errors[:folder_name].each do |error| %>
                    <li>
                      <small class="form-error"><%= error %></small>
                    </li>
                  <% end %>
                </ul>

              <% end %>

            </div>

            <div class="form-row">

              <dt>
                <label for="tags">Tags:</label>
              </dt>

              <dd>
                <input type="text" name="tags" id="tags" placeholder="ie. Contact" value="<%= params[:tags] %>">
              </dd>

              <% if @errors %>

                <ul>
                  <% @errors[:folder_tags].each do |error| %>
                    <li>
                      <small class="form-error"><%= error %></small>
                    </li>
                  <% end %>
                </ul>

              <% end %>

            </div>

            <div class="form-row">

              <div class="col-1">
                <dt>
                  <label for="attr1">Attribute 1:</label>
                </dt>
                <dd>
                  <input type="text" name="attr1" id="attr1" placeholder="ie. Title" value="<%= params[:attr1] %>">
                </dd>
              </div><!--

              --><div class="col-2">
                <dt>
                  <label for="value1"></label>
                </dt>
                <dd>
                  <input type="text" name="value1" id="value1" placeholder="ie. VP of Product" value="<%= params[:value1] %>">
                </dd>
              </div>

            </div>

            <div class="form-row">

              <div class="col-1">
                <dt>
                  <label for="attr2">Attribute 2:</label>
                </dt>
                <dd>
                  <input type="text" name="attr2" id="attr2" placeholder="" value="<%= params[:attr2] %>">
                </dd>
              </div><!--

              --><div class="col-2">
                <dt>
                  <label for="value2"></label>
                </dt>
                <dd>
                  <input type="text" name="value2" id="value2" placeholder="" value="<%= params[:value2] %>">
                </dd>
              </div>

            </div>

            <div class="form-row">

              <div class="col-1">
                <dt>
                  <label for="attr3">Attribute 3:</label>
                </dt>
                <dd>
                  <input type="text" name="attr3" id="attr3" placeholder="" value="<%= params[:attr3] %>">
                </dd>
              </div><!--

              --><div class="col-2">
                <dt>
                  <label for="value3"></label>
                </dt>
                <dd>
                  <input type="text" name="value3" id="value3" placeholder="" value="<%= params[:value3] %>">
                </dd>
              </div>

            </div>

            <% if @parent_uuid %>

              <div class="optional-link" class="form-row">

                <input type="checkbox" name="parent_uuid" id="parent_uuid" value="<%= @parent_uuid %>">
                <label for="parent_uuid">Link this new folder to <%= @parent_name %>?</label>

              </div>

            <% end %>

          </dl>

        </fieldset>

        <input class="btn form-submit" type="submit" value="Create New Folder">

      </form>

    </section>

  </div>

</main>
