<main>

  <div id="link-folder" class="find-link">

    <header class="main-header">

      <h1>Unlink '<%= @from_folder_name %>' from:</h1>

    </header>

    <aside class="folder-menu">

      <header>

        <a class="logo" href="/">
          <img src="/images/logo.png" alt="logo">
        </a>

        <a class="btn folder-action" href="/folders/new">New Folder</a>

      </header>

      <section class="filter-sort">

        <h2>Filter & Sort Options:</h2>

        <form action="/folders/<%= @from_folder_id %>/unlink" method="get">

          <dl>

            <dt>
              <label for="filter_by_tag">Filter by Folder Tag:</label>
            </dt>
            <dd>
              <select name="filter_by_tag" id="filter_by_tag">
                <option value="">All tags</option>
                <% @folder_tags.each do |tag| %>
                  <option value="<%= tag %>" <%== "selected" if params[:filter_by_tag] == tag %>><%= tag.capitalize %></option>
                <% end %>
              </select>
            </dd>

            <dt>
              <label for="sort">Sort by:</label>
            </dt>
            <dd>
              <select name="sort" id="sort">
                <option value="">No sort</option>
                <option value="recently_created_first" <%== "selected" if params[:sort] == "recently_created_first" %>>Recently Created First</option>
                <option value="recently_created_last" <%== "selected" if params[:sort] == "recently_created_last" %>>Recently Created Last</option>
                <option value="alphabetical" <%== "selected" if params[:sort] == "alphabetical" %>>Alphabetical</option>
                <option value="reverse_alphabetical" <%== "selected" if params[:sort] == "reverse_alphabetical" %>>Reverse Alphabetical</option>
              </select>
            </dd>

            <input type="hidden" name="query" value="<%= @query %>">

          </dl>

          <input class="btn" type="submit" value="Apply Filters">

        </form>

      </section>

    </aside>

    <section class="main-body">

      <form class="find" action="/folders/<%= @from_folder_id %>/unlink" method="get">

        <label>
          <input type="text" name="query" placeholder="Find folder...">
        </label>

        <input type="submit" value="">

      </form>

      <ul class="results-list">

        <% if @folders.empty? %>

          <h3>Alas, no results...</h3>

        <% else %>

          <% @folders.each do |folder| %>

            <li>

              <label for="popout-<%= folder[:folder_id] %>">

                <div class="folder-summary">

                  <h3><%= folder[:folder_name] %></h3>

                  <ul>
                    <li><%= format_folder_tags_as_string(folder[:folder_tags]) %></li>
                  </ul>

                </div>

                <input type="checkbox" name="popout" id="popout-<%= folder[:folder_id] %>">

                <div class="popout">

                  <form action="/folders/<%= @from_folder_id %>/unlink/<%= folder[:folder_id] %>" method="post">

                    <h1>Confirm unlink?</h1>

                    <div class="folder-summary">

                      <a href="/folders/<%= @from_folder_id %>">

                        <h3><%= @from_folder_name %></h3>

                        <ul>
                          <li><%= format_folder_tags_as_string(@from_folder_tags_string) %></li>
                        </ul>

                      </a>

                    </div>

                    <img src="/images/icon_unlink.png" alt="Broken chains">

                    <div class="folder-summary">

                      <a href="/folders/<%= folder[:folder_id] %>">

                        <h3><%= folder[:folder_name] %></h3>

                        <ul>
                          <li><%= format_folder_tags_as_string(folder[:folder_tags]) %></li>
                        </ul>

                      </a>

                    </div>

                    <input class="btn btn-confirm" type="submit" value="Unlink Folders">

                    <a class="btn btn-cancel">Cancel</a>

                  </form>

                </div>

              </label>

            </li>

          <% end %>

        <% end %>

      </ul>

    </section>

  </div>

</main>
